# ===== PRODUCTION URLs (Render) =====
VITE_AUTH_URL=https://gestionbancario-authentication-service.onrender.com/api/v1
VITE_ADMIN_URL=https://gestionbancario-gestionbancariomanagment.onrender.com/gestionbanco/v1
VITE_BANKACCOUNT_URL=https://gestionbancario-1.onrender.com
VITE_CURRENCY_URL=https://gestionbancario-currencyservice.onrender.com
VITE_EXCHANGERATE_URL=https://gestionbancario-exchangerate-service.onrender.com
VITE_TRANSACTIONS_URL=https://gestionbancario-transactions-service.onrender.com
VITE_NOTIFICATION_URL=https://gestionbancario-notification-service.onrender.com
